.nope {
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
    font-size: 4rem;
    color: #FFFFFF;
    background-color: #000000;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
header {
    display: flex;
    flex-direction: column;
    margin: 10% 5% 0 5%;
    padding: 0;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    text-align: center;
}
main,
section {
    width: 80%;
    padding: 2.5%;
    margin: 5%;
    text-align: center;
    background-color: rgba(0, 255, 0, 0.5);
    box-shadow: 5px 5px rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    opacity: 0;
}
main {
    margin: 0 5% 5% 5%;
}
footer {
    width: 80%;
    padding: 5%;
    text-align: center;
}
p {
    margin: 2%;
}
ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
li {
    width: fit-content;
    padding: 0;
    margin: 0;
}
li::marker {
    padding: 0;
    margin: 0;
}
button {
    width: fit-content;
    height: fit-content;
    max-width: 60%;
    margin: 5%;
    padding: 2.5%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2.5rem;
    color: rgba(178, 231, 204, 1);
    background-color: rgba(144, 12, 23, 0.85);
    box-shadow: 5px 5px rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    opacity: 1;
}   button:hover {
        color: rgba(178, 231, 204, 1);
        letter-spacing: 0.15rem;
        background-color: rgba(255, 183, 0, 1);
        box-shadow: 7px 7px rgba(255, 255, 255, 0.15);
        cursor: pointer;
        opacity: 0.666;
}
#logo_div {
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: -10;
    width: 100%;
    height: 100vh;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
}
#logo {
    display: flex;
    position: fixed;
    z-index: -10;
    width: auto;
    align-self: center;
    justify-self: center;
    margin: 5%;
    opacity: 0.5;
}
#text_logo {
    width: 66.666%;
}   #text_logo:hover {
        cursor: pointer;
        opacity: 0.666;
}
#yt {
    max-width: 15%;
    margin: 5% 2.5% 2.5% 2.5%;
}   #yt:hover {
    cursor: pointer;
    opacity: 0.666;
}
.underline {
    text-decoration: underline;
}
.emphasis {
    padding: 1%;
    font-size: 5rem;
    color: rgba(255, 0, 0, 1);
    background-color: #000000;
    box-shadow: 5px 5px rgba(255, 255, 255, 0.15);
    border: 2px solid white;
    border-radius: 10px;
}
#rasta_nova_span {
    color: rgba(178, 231, 204, 1);
}   #rasta_nova_span:hover {
        cursor: pointer;
        opacity: 0.666;
        color: rgba(255, 183, 0, 1);
}
.rasta_nova_logo {
    display: inline;
    width: 3rem;
    align-self: center;
    justify-self: center;
}
#wall_of_fame {
    font-size: 5rem;
    color: rgba(255, 183, 0, 1);
}
@media (max-aspect-ratio: 3/4) {
    body {
        font-size: 2.5rem;
    }
    button {
        width: 75%;
        margin: 10%;
        font-size: 2rem;
    }
    ul {
        width: fit-content;
        max-width: 100%;
    }
    .emphasis {
        font-size: 3rem;
    }
}
@keyframes fadeInPop {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
